
/*////////*/

/*/////////////*/
*{margin: 0; padding: 0;}
a{
	text-decoration: none;
}
a.navbar-brand {
    padding: 0;
    margin: 0;
}
.tt{
	z-index: 2;
	position: relative;
	padding-top: 20%;
}
.tt img{
	border-radius: 50%;
	margin-bottom: 38px;
	margin-top: -50px;
}
/*.tt img:hover{
	animation: shake 0.5s; shake cho ảnh
	animation-iteration-count: infinite;
}*/

/*thuộc tính shake cho btn-primary*/
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*hết thuộc tính shake*/


/*skill*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.bokhoikn{
	width: 100%;
	/* height: 1050px; */
	position: relative;
	margin:auto;
	overflow: hidden;
	color:#34495e;
}
.bokhoikn .layer1{
	position: absolute;
	z-index: 1;
	top:0px;
	left: 0px;
	background-image: url(f1.png);
	width: 100%;
	height: 100%;
	opacity: 0.8;
	/*transition: 10s;*/
}
.bokhoikn.quatrinh .layer1{
	background-image: url(f2.png);

}
.cot2_3 img{
	transform: scale(1.5);
	margin-left: 30px;
}
.bokhoikn.quatrinh .layer1{
	animation: zoomlen 25s forwards; /*forwards la chuyen dong ve phia trc*/
}
.bokhoikn.quatrinh .layer2{
	height: 1250px;
}
.bokhoikn:hover .layer1{
	animation: zoomlen 25s forwards; /*forwards la chuyen dong ve phia trc*/
}
/*code cho phan background spcode*/
.bokhoikn.spcode{
	height: 1400px;
}
.bokhoikn.spcode .layer1{
	background-image: url(f2.png);
}
.bokhoikn.spcode .layer2{
	margin-top: -800px;
}

/*het code cho phan background spcode*/
.bokhoikn .layer2{
	position: relative;
	z-index: 2;
	/* top:50%; */
	margin-bottom: 25px;
	left: 50%;
	/*font-size: 40px;
	font-family: "segoe ui light";
	color:white;*/
	transform: translate(-50%, 0);
	width: 100%;
	height: 1450px;
	/* margin-left: -700px; */ /*lien quan den width*/
	/* margin-top: -600px; */
	opacity: 0;
	animation: divao 0.6s forwards;
	animation-delay: 0.4s;
}
.bokhoikn:hover .layer2{
	
	
}
@-webkit-keyframes zoomlen{
	from{transform: scale(1);}
	to{transform: scale(2);} /*xong vao layer1 them animation va ko can transition*/
}
@-webkit-keyframes divao{
	from{top:40%;opacity: 0;}
	to{top:50%;opacity: 1;}
}

/* Container for skill bars */
.skill {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}
/* bo sung skill  */
.skill{
    position: relative;
    height: 40px;
    margin: 0 10px;
    overflow: hidden;
}
.skill>.skills{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 95%; */
    height: 100%;
    animation: animate 22s ease-in-out forwards;
}
@keyframes animate{
    from{
        width: 0;
    }
}
/* het bo sung skill  */
.html {width: 80%; background-color: #f53b57;} /* Green */
.css {width: 80%; background-color: rgb(23, 228, 235);} /* Blue */
.js {width: 75%; background-color: #FF9800;} /* Red */
.py {width: 75%; background-color: rgb(10, 111, 243);} /* Red */
.php {width: 30%; background-color: rgb(92, 22, 255);} /* Dark Grey */
.pts {width: 60%; background-color: rgb(0, 81, 134);} /* Green */
.ai {width: 30%; background-color:#FF5722 ;} /* Blue */
.wo {width: 80%; background-color: rgb(52,152,219);} /* Red */
.ex {width: 70%; background-color: rgb(46,204,113);} /* Dark Grey */
.pp {width: 95%; background-color: rgb(255, 77, 77);} /* Dark Grey */
.cplus {width: 65%; background-color: rgb(155,89,182);} /* Dark Grey */
.java {width: 65%; background-color: rgb(255,242,0);} /* Dark Grey */
/*hết skill*/
.tt h2{
	text-transform: uppercase;
	font-size: 40px;
	color:white;
	margin-bottom: 22px;
}
.tt p{
	color:black;
	font-size: 16px;
	font-family: segoe ui;
	line-height: 24x;
	width: 46%;
	margin:auto;
	margin-bottom: 25px;
}
a.nuthire.btn.btn-primary{
	width: 180px;
	background: black;
	border: none;
	border-radius:0px;
}
a.nuthire.btn.btn-primary:hover{
	background: pink;
	color:black;
	font-weight: bold;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
.khoitt1 {
    height: 75%;
    width: 100%;
    background: #e9585f;
    position: relative;
}

.khoitt1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #e4555b;
    z-index: 1;
}

body,html {
    width: 100%;
    height: 100%;
} 
div.menutop .navbar .container .navbar-brand img{
	width: 130px;
	height: 100px;
}
nav.navbar.navbar-light.bg-faded{
	margin: 0;
	padding:0;
	height: 100px;
}
a.nav-link{
	font-family: segoe ui;
	text-transform: uppercase;
	font-size: 13px;
	color:#101010;
	line-height: 79px;
}
li.nav-item{
	margin:0;
	padding:0;
	margin: 0 17px;
}
.tieudeto{
	margin-top: 120px;
	text-align: center;
	margin-bottom: 45px;
}
.tieudeto h1{
	display:inline;
	background: url(img/ke4.png) no-repeat left bottom;
	padding-bottom:30px; 
	text-transform: uppercase;
	font-size:30px;
}
h2.tieudecap2{
	font-weight: normal;
	font-family: segoe ui light;
	text-transform: uppercase;
	font-size:22px;
	margin-bottom: 40px;
	margin-top: 50px;
}
span.dam{
	font-weight: bold;
	font-family: segoe ui;
}
.khoittnho{
	margin-bottom: 30px;
}
.khoittnho h3.tieudecap3{
	font-size:18px;
	color:#e35855;
	margin-bottom:20px;
}
span.motaqt{
	font-size:14px;
	margin-bottom: 23px;
	display:block;
	font-family: segoe ui;
	font-weight: bold;
}
.khoittnho p{
	font-size:13px;
	line-height: 20px;
	color:#636363;
}

article.tinnho{
	width: 260px;
	height: 220px;
	margin-right: 10px; 
	border: 1px solid #E9E9E9;
	float:left;
	margin-top: 20px;

}
article.tinnho:nth-child(4n){
	margin-right: 0px;
}
article.tinnho img{
	width: 100%;
	padding-bottom: 14px;
}


/*css tinnho1*/
article.tinnho1{
	width: 260px;
	height: 186px;
	margin-right: 10px; 
	border: 1px solid #E9E9E9;
	float:left;
	margin-top: 20px;

}
article.tinnho1:nth-child(4n){
	margin-right: 0px;
}
article.tinnho1 img{
	width: 100%;
	padding-bottom: 14px;
	height: 135px;
}

/*ket thuc css tinnho1*/
article a.tdtinnho{
	text-decoration: none;
	font-weight: bold;
	color:#414141;
	font-family: tahoma; /*myriad pro hoặc tahoma*/
	font-size:14px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	display:block;
}
article .thongtin{
	font-family: tahoma;
	font-size:14px;
	color:gray;
	padding:0px 0px 10px 10px; /*trên phải dưới trái*/
}
.cucto{
	width: 1070px;
	margin-left: 35px;
}



.khoittnho a:hover{
	color:orange;
}

.xuong{
	width: 22px;
	height: 38px;
	border: 1px solid white;
	position: absolute;
	left:50%;
	border-radius: 30px;
	bottom: 1%;
	margin-left: -11px;
	z-index:2;
	cursor: pointer;
	transition: 5s;
	margin-bottom: 10px;
}
.xuong:hover{
	/*position: absolute;*/
	bottom: 20px;
}
.xuong:after{
	content:"";
	width: 2px;
	height: 6px;
	border: 1px solid white;
	position: absolute;
	left:50%;
	bottom: 66%;
	margin-left: -1px;
}
/*.xuong1{
	width: 2px;
	height: 6px;
	border: 1px solid white;
	position: absolute;
	left:50%;
	margin-left: -1px;
	z-index: 2;
	bottom: 5%;
}*/
@media (max-width: 576px){
	*{}
li.nav-item{
	float:none!important;
	display:inline!important;
	margin:0 0;
}
ul.nav.navbar-nav.float-xs-right{
	/*float:none!important;*/
	text-align:center;
	background: white;
	margin:0;
	padding:10px 5px;
	width: 110%;
	position: relative;
	left:15px;
	border-top: 1px solid #d8d8d8;
}
.tieudeto.text-xs-center{
	margin-bottom: 10px;
	margin-top:160px;
}
a.nav-link{
	line-height:27px;
	display:inline!important;
}
a.navbar-brand{
	display:block;
	text-align: center;
	width: 100%;
}
.tt img{
	/*width:200px;*/
	margin-top:150px;
}
.tieudeto h1{
	line-height:60px;
	/*background: url(img/ke4.png) no-repeat right bottom;*/
}
}

/*.xuong1{
	position: absolute;
	bottom:4%;
}*/
/*
nut contact*/
#Acontact{
	margin:auto;
}
#Acaro{
	margin:auto;
}
#Acaro:hover{
	
}
button{
	background:#ff4757;
	color:#fff;
	border:none;
	position:relative;
	height:60px;
	font-size:1.6em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
	margin-bottom: 30px;
}
button:hover{
	background:#fff;
	color:#ff4757;
}

button:before,button:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #ff4757;
	transition:400ms ease all;
}
button:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
button:hover:before,button:hover:after{
	width:100%;
	transition:800ms ease all;
}
/*het nut contact*/

/* css cho progress Bar  */
::-webkit-scrollbar{
    width: 0;
}
#progressBar{
    position: fixed;
    top:0;
    right: 0;
    width: 15px;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
}
/* het css cho progress bar  */
/* --------- css cho màn điện thoại --------------- */
@media (max-width: 667px) {
	.khoitt1 {
		height: 90%;
	}
	.cucto {
		padding-right: 40px;
	}
	.khoispdh {
		margin-top: -80px;
	}
	.khoispdh .tieudeto {
		margin-bottom: 25px;
	}
	.khoispdh .cucto{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	#khoiedu .row{
		display: flex;
		flex-direction: column;
		padding-top: 0;
	}
	.bokhoikn.quatrinh .layer2{
		height: 2668px;
	}
	#khoiedu .tieudeto{
		margin-top: 50px;
	}
	.cot1_3{
		/* background-color: blue; */
	}
	.cot2_3 img{
		padding: 0;
		margin-top: -140px;
		height: 100%;
		margin-left: 30px;
	}
	
	.cot3_3{
		margin-top: 143px;
	}
	.khoicaro{
		display: none;
	}
	.khoitotinh{
		display: none;
	}
	.khoilh{
		margin-top: -88px;
	}
	.khoilh .tieudeto{
		margin-bottom: 25px;
	}
	/* Thêm các thiết lập CSS khác cho chế độ xem điện thoại */
}
