.tintrai{
	width: 216px;
	height: 109px;
	background-image: url(1.jpg);
	padding-top: 222px;
	background-position-x:-192px;
	background-position-y:-250px;
}
.tintrai .tdtt{
	text-decoration: none;
	color:white;
	background-color: rgba(0,0,0,0.5);
	padding:10px;
	display: block;
}